
@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}

html,body{
    height : 100%;
    width : 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #dadada;
    position: relative;
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #ff5f38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
#cursor h5{
    font-size: 1.2vw;
    font-weight: 500;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(0,0,0); */
    position:relative ;
    z-index: 10;
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 5vw; */
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw ;
    width: 100%;
    
    /* background-color: red; */

}
nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}

#page1-content h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 27vw;
    font-weight: 100;
    line-height: 27vw;
}

#page1-content h1 span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#page2{
    height: 76vh;
    width: 100%;
    background-color: #dadada;
    position: relative;
}
#page2-content span{
    font-size: 20pt;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 3vw 3vw ;
    width: 100%;
    position: relative;
}
#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}
#page3-top{
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    padding: 4%;
}
#page3-top span{
    background-color: black;
    color: #fff;
    padding: 4px 10px;
    border-radius: 10px;
}

#page3-top h2{
 font-size: 4vh;
 font-weight: 500;
 align-items:center;
 justify-content: center;
}

#page3-elements{
    height: 75vh;
    width:100%;
    display:flex;
    align-items: center;
    margin-top: 8vw;
    justify-content: space-evenly;
    
    /* padding: left 10px; */
    /* background-color: red; */
}

#page3-elements .box{
    display: flex;
    height: 100%;
     width: 22vw;
     /* border-radius: 20%; */
     /* padding: 1%; */
     position: relative;
     background-color: black;
}


#pag3-elements .box video{   
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
    /* display: flex; */
}


#pag3-elements .box img{
    /* display: flex; */
    
    position: absolute;
    height: 100%;
    width: 22vw;
    object-fit: cover;
    transition: all ease 1s;
}

#pag3-elements .box:hover img{
  opacity: 0;
  
}

